* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 100%;
  padding: 0 8vw;
}

.flexbox {
  display: flex;
  align-items: center;
}
.flex-child {
  width: 50%;
}

.header {
  margin-top: 20px;
  justify-content: center;
}

.text-container {
  margin-right: 30px;
}

.title-container,
.details,
.link-btn {
  margin-bottom: 20px;
}

.vertical-line {
  width: 4px;
  height: 95px;
  background-color: #5620ba;
  border-radius: 5px;
}

.title {
  font-size: 50px;
  line-height: 60px;
  padding-left: 10px;
  font-family: 'Lora', serif;
}

.partial {
  color: #be7780;
}

.details {
  font-size: 15px;
}
.link-btn {
  display: inline-block;
  width: auto;
  text-decoration: none;
  padding: 10px 30px;
  color: white;
  background-color: #5620ba;
  border-radius: 5px;
}

.small-text {
  display: block;
}
.image-container .image {
  width: 100%;
}

.mission-section {
  padding-top: 50px;
  padding-bottom: 80px;
}
.section-title {
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}

#first-card {
  background-color: #cec7db;
}
#second-card {
  background-color: #dbc4c7;
}

#third-card {
  background-color: #d4c5d2;
}

.card-container {
  justify-content: space-around;
}

.card {
  width: 350px;
  height: 290px;
  padding: 30px 20px;
  margin-right: 15px;
  border-radius: 10px;
}

.card:last-child {
  margin-right: 0;
}
.card-image,
.card-title {
  margin-bottom: 10px;
}

.card-image {
  width: 100px;
  height: 100px;
}

.developer-section,
.community-section,
.projects-container {
  gap: 50px;
  margin-bottom: 50px;
}

.min-width-child {
  width: 35%;
}
.max-width-child {
  width: 65%;
}

.dev-title {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 15px;
}

.footer {
  background-color: black;
  height: 150px;
  text-align: center;
  padding: 40px;
}

.footer-title {
  color: white;
  margin-bottom: 10px;
  font-family: 'Playball', cursive;
}

.footer-partial {
  color: #5620ba;
}

.footer-sub-text {
  color: white;
  font-size: 13px;
}
